.sf-autocomplete {
  position: relative;
}

.sf-autocomplete__input {
  min-width: 100px;
}

.sf-autocomplete__dropdown {
  /* width: 100%; */
  left: -1px;
  right: -1px;
}

.sf-autocomplete__dropdown .dropdown-item:focus {
  outline: 0;
}
