.sf-autocomplete {
  position: relative;
}

.sf-autocomplete__input {
  min-width: 100px;
}

.sf-autocomplete__dropdown {
  /* width: 100%; */
  left: -1px;
  right: -1px;
}

/*
.sf-autocomplete__dropdown .dropdown-item:focus {
  background-color: var(--primary-lighten);
  color: var(--gray-900);
  outline: 0;
}
.sf-autocomplete__dropdown .dropdown-item.active:focus {
  background-color: var(--primary);
  color: var(--white);
}
*/

.sf-autocomplete__dropdown .dropdown-item:focus {
  outline: 0;
}
