@import "../vars";

.sf-autocomplete {
  position: relative;
}

.sf-autocomplete__input.form-control {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding: 0;
}

.sf-autocomplete__input.focus {
  border-color: $input-focus-border-color;
  box-shadow: $input-focus-box-shadow;
}

.sf-autocomplete__input-field {
  display: block;
  flex: 1;
  padding: 0.375rem 0.75rem;
  min-width: 10rem;
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

.sf-autocomplete__input-field:focus {
  outline: 0;
}

.sf-autocomplete__dropdown {
  /* width: 100%; */
  left: -1px;
  right: -1px;
}

.sf-autocomplete__dropdown .dropdown-item:focus {
  outline: 0;
}
