@import "../vars";

.sf-pattern-input {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.sf-pattern-input input {
  text-align: center;
  width: 3rem;
}

.sf-pattern-input .sf-pattern-separator.form-control {
  border: none;
  text-align: center;
}
