.signin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.signin .card {
  width: 70%;
  min-width: 300px;
}

.signin h2,
.signin .form-group {
  margin-bottom: 1rem;
}

.signin__logo {
  width: 150px;
}

@media (min-width: 576px) {
  .signin .card {
    width: 400px;
  }
}

@media (min-width: 768px) {
  .signin__logo {
    width: 200px;
  }
}

@media (min-width: 992px) {
  .signin .card {
    width: 800px;
  }

  .signin__logo {
    width: 300px;
  }
}
