@import "../vars";

.sf-statpanel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 4em;
}

.sf-statpanel__text {
  min-width: 11rem;
}

.sf-statpanel__value {
  font-size: 3em;
  line-height: 1;
}

.sf-statpanel__label {
  font-size: 1.5em;
}

.sf-statpanel__icon {
  margin-left: auto;
  min-width: 5rem;
  font-size: 3em;
  line-height: 1;
  text-align: right;
}
