@use "../vars";

.sf-table {
  margin-bottom: 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-bottom-width: 2px;
  font-size: 0.875rem;
  background-color: vars.$white;
  border-radius: 0.25rem;
}

.sf-table .table {
  margin-bottom: 0;
}

.sf-table thead th {
  border-top: 0;
  line-height: 1rem;
}

.sf-table tr.row-align-middle > td {
  vertical-align: middle;
}

.sf-table .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.03);
}

.sf-table__select {
  padding-left: 1rem !important; /* TODO: should work without that */
  width: 40px;
}

.sf-table__empty {
  padding: 30px;
  text-align: center;
  color: vars.$dark;
  background-color: vars.$white;
}

.sf-table__error {
  padding: 30px;
  text-align: center;
  color: vars.$danger;
}

.sf-table__sort {
  position: relative;
  padding: 0 1.5rem;
  cursor: pointer;
}
.sf-table__sort::before,
.sf-table__sort::after {
  position: absolute;
  bottom: 0;
  opacity: 0.3;
  font-family: monospace;
  font-size: 1.5rem;
  line-height: 1rem;
}
.sf-table__sort::before {
  content: '\2191';
  left: 0;
}
.sf-table__sort::after {
  content: '\2193';
  left: 0.5rem;
}

.sf-table__sort_asc::before,
.sf-table__sort_desc::after {
  opacity: 1;
}

.sf-table__actions {
  display: flex;
  justify-content: flex-end;
}

.sf-table__actions > a {
  flex-shrink: 0;
}

.sf-table__actions > a:not(:first-of-type) {
  margin-left: 0.75rem;
}

/** Responsive list */

.sf-table__listrow {
  display: flex;
}

.sf-table__definition {
  font-weight: bold;
  text-align: right;
}

.sf-table__declaration {
  text-align: left;
  flex-grow: 0;
}

.sf-table__collapsed > .list-group-item {
  display: none;
}

.sf-table__collapsed.border-top {
  border-bottom: none !important;
}

.sf-table__collapsed > .list-group-item.sf-table__group {
  display: block;
}

.sf-table__collapsable > .sf-table__group {
  cursor: pointer;
}

.sf-table__sortselect, .sf-table__selectall {
  align-items: center;
}

.sf-responsive-table-list .list-group-item {
  padding-left: 1rem;
  padding-right: 1rem;
}
