@import "../vars";

.sf-table {
  margin: 1.25rem 0;
  border: 1px solid rgba($black, 0.075);
  border-bottom-width: 2px;
  font-size: 0.875rem;
  background-color: $white;

  border-radius: 0.25rem;
}

[data-theme=dark] .sf-table {
  border: 1px solid rgba($white, .125);
  border-bottom-width: 1px;
  background-color: $gray-900;
}

.sf-table .table {
  margin-bottom: 0;
}

.sf-table thead th,
[data-theme=dark] .sf-table thead th {
  border-top: 0;
}

.sf-table .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba($black, .03);
}

[data-theme=dark] .sf-table .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba($white, .05);
}

.sf-table__select {
  padding-left: 1rem !important; /* TODO: should work without that */
  width: 40px;
}

.sf-table__empty {
  padding: 30px;
  text-align: center;
  color: $gray-800;
  background-color: $white;
}

[data-theme=dark] .sf-table__empty {
  color: $gray-600;
  background-color: $gray-900;
}

.sf-table__error {
  padding: 30px;
  text-align: center;
  color: $danger;
}

.sf-table__sort {
  position: relative;
  padding: 0 1.5rem;
  cursor: pointer;
}
.sf-table__sort::before,
.sf-table__sort::after {
  position: absolute;
  opacity: 0.3;
  font-family: monospace;
  font-size: 1.5rem;
  line-height: 1;
}
.sf-table__sort::before {
  content: '\2191';
  left: 0;
}
.sf-table__sort::after {
  content: '\2193';
  left: 0.5rem;
}

.sf-table__sort_asc::before,
.sf-table__sort_desc::after {
  opacity: 1;
}

.sf-table__actions {
  display: flex;
  justify-content: flex-end;
}

.sf-table__actions > a {
  flex-shrink: 0;
}

.sf-table__actions > a:not(:first-of-type) {
  margin-left: 0.75rem;
}
