@use "../vars";

.sf-tag.badge {
  display: inline-flex;
  align-items: center;
  margin: 0.25rem;
  padding: 0.1em 0.4em 0.1em 0.65em;
  min-height: 1.635rem;
  font-size: 0.675rem;
}

.sf-tag > span {
  margin-right: 0.25rem;
}
.sf-tag > .close {
  font-size: 1rem;
  color: inherit;
  text-shadow: none;
}

.sf-tag > .close:focus {
  outline: 0;
}

.sf-tag > .close > span {
  pointer-events: none;
}
