/* @import url("//hello.myfonts.net/count/3a73cd"); */

/* @font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/3A73CD_0_0.woff2') format('woff2'), url('./fonts/3A73CD_0_0.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/3A73CD_1_0.woff2') format('woff2'), url('./fonts/3A73CD_1_0.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/3A73CD_2_0.woff2') format('woff2'), url('./fonts/3A73CD_2_0.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/3A73CD_3_0.woff2') format('woff2'), url('./fonts/3A73CD_3_0.woff') format('woff');
  font-style: italic;
  font-weight: 400;
} */

html {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  width: 100%;
  min-height: 100%;
}
